In [33]:
import pandas
import numpy as np
from sklearn.tree import DecisionTreeClassifier
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [16]:
data.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [11]:
(data['Sex']=='male').sum()

577

In [12]:
(data['Sex']=='female').sum()

314

Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [23]:
(data['Survived'].sum()/len(data['Survived'])*100).round(2)

38.38

Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [33]:
round((sum(data['Pclass']==1)/len(data['Pclass'])*100),2)

24.24

Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [16]:
data['Age'].mean()

29.69911764705882

In [17]:
data['Age'].median()

28.0

Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [35]:
data[['SibSp','Parch']].corr(method='pearson', min_periods=1)

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [50]:
female_data = data[data['Sex']=='female']

In [53]:
female_data['Name'].str.split('.')

PassengerId
2      [Cumings, Mrs,  John Bradley (Florence Briggs ...
3                              [Heikkinen, Miss,  Laina]
4        [Futrelle, Mrs,  Jacques Heath (Lily May Peel)]
9      [Johnson, Mrs,  Oscar W (Elisabeth Vilhelmina ...
10                [Nasser, Mrs,  Nicholas (Adele Achem)]
                             ...
881      [Shelley, Mrs,  William (Imanita Parrish Hall)]
883                      [Dahlberg, Miss,  Gerda Ulrika]
886              [Rice, Mrs,  William (Margaret Norton)]
888                      [Graham, Miss,  Margaret Edith]
889          [Johnston, Miss,  Catherine Helen "Carrie"]
Name: Name, Length: 314, dtype: object

In [30]:
data_for_classifying = data[['Pclass','Fare','Age','Sex','Survived']].dropna()
target = data_for_classifying['Survived']
data_for_classifying = data_for_classifying[['Pclass','Fare','Age','Sex']]
data_for_classifying.replace(('male', 'female'), (1, 0), inplace=True)

In [31]:
data_for_classifying.head(5)

             Pclass     Fare   Age  Sex
PassengerId
1                 3   7.2500  22.0    1
2                 1  71.2833  38.0    0
3                 3   7.9250  26.0    0
4                 1  53.1000  35.0    0
5                 3   8.0500  35.0    1

In [34]:
tree = DecisionTreeClassifier(random_state=241)

In [35]:
tree.fit(data_for_classifying,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=241, splitter='best')

In [36]:
importances = tree.feature_importances_
importances

array([0.14000522, 0.30343647, 0.2560461 , 0.30051221])