In [38]:
import pandas as pd
import sklearn.model_selection
import sklearn.neighbors
import sklearn.preprocessing.scale
wine_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header = None)
wine_data.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [49]:
y = wine_data[0]
X = wine_data.loc[:, wine_data.columns != 0]

In [30]:
features.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [48]:
kf = sklearn.model_selection.KFold(shuffle = True,random_state = 42,n_splits = 5)

In [73]:
for i in range(1,51):
    neighbors = sklearn.neighbors.KNeighborsClassifier(n_neighbors = i)
    z = neighbors.fit(X,y)
    print(str(i) + '/' + str(sum(sklearn.model_selection.cross_val_score(z, X, y, cv=kf))/5))

1/0.7304761904761905
2/0.6625396825396825
3/0.7082539682539682
4/0.6577777777777778
5/0.6746031746031746
6/0.6742857142857144
7/0.68
8/0.6799999999999999
9/0.7023809523809523
10/0.6801587301587302
11/0.7025396825396826
12/0.6966666666666667
13/0.6909523809523809
14/0.6793650793650794
15/0.701904761904762
16/0.6795238095238096
17/0.7015873015873015
18/0.6795238095238095
19/0.6793650793650793
20/0.6909523809523809
21/0.7019047619047619
22/0.6965079365079364
23/0.7020634920634921
24/0.7076190476190476
25/0.7019047619047619
26/0.6965079365079365
27/0.6963492063492064
28/0.7079365079365079
29/0.7134920634920634
30/0.7079365079365079
31/0.690952380952381
32/0.7134920634920634
33/0.7134920634920634
34/0.7246031746031747
35/0.7246031746031747
36/0.7134920634920636
37/0.7134920634920634
38/0.7134920634920634
39/0.7079365079365079
40/0.7077777777777777
41/0.7134920634920634
42/0.7077777777777777
43/0.7077777777777777
44/0.7077777777777777
45/0.7077777777777777
46/0.7077777777777777
47/0.6966666666666667
48/0.7190476190476192
49/0.6966666666666667
50/0.7077777777777777

In [79]:
scaled_X = sklearn.preprocessing.scale(X)
a = []
for i in range(1,51):
    neighbors = sklearn.neighbors.KNeighborsClassifier(n_neighbors = i)
    z = neighbors.fit(scaled_X,y)
    a.append(sum(sklearn.model_selection.cross_val_score(z, scaled_X, y, cv=kf))/5)
    print(str(i) + '/' + str(a[i-1]))

1/0.943968253968254
2/0.9328571428571429
3/0.9550793650793651
4/0.9382539682539683
5/0.9493650793650794
6/0.9495238095238095
7/0.9495238095238095
8/0.9552380952380952
9/0.9607936507936508
10/0.9607936507936508
11/0.9609523809523809
12/0.9552380952380952
13/0.9495238095238093
14/0.9663492063492063
15/0.9720634920634922
16/0.9720634920634922
17/0.9665079365079364
18/0.9665079365079364
19/0.9553968253968254
20/0.9665079365079364
21/0.9609523809523811
22/0.9665079365079364
23/0.9609523809523809
24/0.9552380952380952
25/0.9552380952380952
26/0.9607936507936508
27/0.9552380952380952
28/0.9663492063492063
29/0.9776190476190475
30/0.9607936507936508
31/0.9552380952380952
32/0.9607936507936508
33/0.9663492063492063
34/0.9663492063492063
35/0.9607936507936508
36/0.9607936507936508
37/0.9552380952380952
38/0.9607936507936508
39/0.9607936507936508
40/0.9607936507936508
41/0.9663492063492063
42/0.9607936507936508
43/0.9663492063492063
44/0.9606349206349206
45/0.9663492063492063
46/0.9495238095238095
47/0.9550793650793651
48/0.9495238095238095
49/0.9550793650793651
50/0.9606349206349206

In [80]:
max(a)

0.9776190476190475